asn1crypto==0.24.0
attrs==21.4.0
awscli==1.15.51
axado.django-localflavor-br==1.0.1
boto==2.48.0
boto3==1.7.50
botocore==1.10.50
cached-property==1.5.2
cairocffi==0.8.1
CairoSVG==2.1.3
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cloudinary==1.12.0
Collectfast==0.2.3
colorama==0.3.9
cryptography==2.2.2
cssselect2==0.2.1
defusedxml==0.5.0
diff-match-patch==20200713
dj-database-url==0.5.0
Django==2.0.6
django-ajax-selects==1.7.0
django-angular==2.0.3
django-anymail==8.4
django-bootstrap4==0.0.6
django-currentuser==0.2.2
django-filter==1.1.0
django-heroku==0.3.1
django-import-export==2.4.0
django-localflavor==2.0
django-logentry-admin==1.0.6
django-parsley==0.7
django-postgres-copy==2.3.2
django-redis-cache==1.6.5
django-storages==1.6.2
django-widget-tweaks==1.4.2
docutils==0.14
dropbox==8.9.0
et-xmlfile==1.0.1
gunicorn==19.8.1
html5lib==1.0.1
idna==2.6
isodate==0.6.1
jdcal==1.4.1
jmespath==0.9.3
lxml==4.7.1
MarkupPy==1.14
mock==2.0.0
numpy==1.19.5
oauthlib==2.1.0
odfpy==1.4.1
opencv-python==4.5.5.62
openpyxl==3.0.5
pbr==4.0.4
pdfrw==0.4
peewee==3.14.8
Pillow==5.1.0
platformdirs==2.4.0
psutil==5.9.0
psycopg2==2.7.5
psycopg2-binary==2.8.6
pyasn1==0.4.3
pycep-correios==5.0.0
pycparser==2.18
pygame==2.1.0
PyJWT==1.6.4
Pyphen==0.9.4
PySide2==5.15.2
PySimpleGUI==4.55.1
PySimpleGUIQt==0.35.0
python-dateutil==2.7.3
python-ffmpeg-video-streaming==0.1.5
python-social-auth==0.2.12
python3-openid==3.1.0
pytz==2018.4
PyYAML==3.12
qrcode==5.1
redis==2.10.6
reportlab==3.4.0
requests==2.18.4
requests-file==1.5.1
requests-oauthlib==1.0.0
requests-toolbelt==0.9.1
rsa==3.4.2
s3transfer==0.1.13
shiboken2==5.15.2
six==1.11.0
sorl-thumbnail==12.4.1
sqlparse==0.2.4
tablib==2.0.0
tinycss2==0.6.1
urllib3==1.22
webencodings==0.5.1
whitenoise==3.3.1
xlrd==1.2.0
xlwt==1.3.0
zeep==4.1.0
